################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/obj/Debug/net7.0-windows
/Testdata
/src/bin/Debug/net7.0-windows
/src/obj
/src/Plot.csproj.user
/src/bin/Release/net7.0-windows/win-x64
